In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import sqlite3 
%load_ext sql

In [2]:
data_census = pd.read_csv("ChicagoCensusData.csv")
dat_crime = pd.read_csv("ChicagoCrimeData.csv")
data_school=pd.read_csv("ChicagoPublicSchools.csv")

In [3]:
con = sqlite3.connect("Chicago.db")

In [4]:
data_census.to_sql("census",con)

78

In [6]:
dat_crime.to_sql("crime",con)

533

In [7]:
data_school.to_sql("school",con)

566

In [13]:
import prettytable as pt
pt.DEFAULT = pt.MARKDOWN

C:\Users\Aditya Pandey\AppData\Local\Temp\ipykernel_17704\3223702322.py:2: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  pt.DEFAULT = pt.MARKDOWN

In [10]:
%sql sqlite:///Chicago.db

In [15]:
# crime count 
%%sql
select count(*) from crime

 * sqlite:///Chicago.db
Done.

[(533,)]

In [16]:
%%sql
select * from crime Limit 1

 * sqlite:///Chicago.db
Done.

[(0, 3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)')]

In [17]:
%%sql
select * from school Limit 1

 * sqlite:///Chicago.db
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [18]:
%%sql
select * from census Limit 1

 * sqlite:///Chicago.db
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)]

In [23]:
%%sql
select COMMUNITY_AREA_NUMBER,	COMMUNITY_AREA_NAME	from census where PER_CAPITA_INCOME < 11000

 * sqlite:///Chicago.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

In [26]:
%%sql
select CASE_NUMBER from crime where PRIMARY_TYPE = "OFFENSE INVOLVING CHILDREN"

 * sqlite:///Chicago.db
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

In [27]:
dat_crime["PRIMARY_TYPE"].unique()

array(['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS',
       'OTHER OFFENSE', 'ASSAULT', 'BURGLARY', 'MOTOR VEHICLE THEFT',
       'DECEPTIVE PRACTICE', 'ROBBERY', 'CRIMINAL TRESPASS',
       'PROSTITUTION', 'WEAPONS VIOLATION', 'PUBLIC PEACE VIOLATION',
       'OFFENSE INVOLVING CHILDREN', 'CRIM SEXUAL ASSAULT', 'SEX OFFENSE',
       'INTERFERENCE WITH PUBLIC OFFICER', 'GAMBLING',
       'LIQUOR LAW VIOLATION', 'ARSON', 'HOMICIDE', 'KIDNAPPING',
       'INTIMIDATION', 'STALKING', 'OBSCENITY',
       'CONCEALED CARRY LICENSE VIOLATION', 'PUBLIC INDECENCY',
       'NON-CRIMINAL', 'OTHER NARCOTIC VIOLATION', 'HUMAN TRAFFICKING',
       'NON - CRIMINAL', 'RITUALISM', 'NON-CRIMINAL (SUBJECT SPECIFIED)',
       'DOMESTIC VIOLENCE'], dtype=object)

In [28]:
dat_crime["DESCRIPTION"].unique()

array(['FROM BUILDING', '$500 AND UNDER', 'FINANCIAL ID THEFT: OVER $300',
       'OVER $500', 'RETAIL THEFT', 'AGG: FINANCIAL ID THEFT',
       'PURSE-SNATCHING', 'POCKET-PICKING', 'ATTEMPT THEFT', 'SIMPLE',
       'DOMESTIC BATTERY SIMPLE', 'AGG PO HANDS NO/MIN INJURY',
       'PRO EMP HANDS NO/MIN INJURY', 'AGGRAVATED:KNIFE/CUTTING INSTR',
       'AGGRAVATED: OTHER DANG WEAPON', 'AGGRAVATED: HANDGUN',
       'AGGRAVATED DOMESTIC BATTERY',
       'AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', 'TO VEHICLE',
       'TO CITY OF CHICAGO PROPERTY', 'TO PROPERTY',
       'CRIMINAL DEFACEMENT', 'POSS: CANNABIS 30GMS OR LESS',
       'POSS: HEROIN(WHITE)', 'MANU/DEL:CANNABIS 10GM OR LESS',
       'MANU/DELIVER: HEROIN (WHITE)', 'POSS: CRACK',
       'FOUND SUSPECT NARCOTICS', 'MANU/DELIVER: METHAMPHETAMINES',
       'POSS: COCAINE', 'ATTEMPT POSSESSION NARCOTICS',
       'SOLICIT NARCOTICS ON PUBLICWAY', 'MANU/DELIVER:CRACK',
       'TELEPHONE THREAT', 'OBSCENE TELEPHONE CALLS',
       'VIOLATE ORDER OF PROTECTION', 'HARASSMENT BY TELEPHONE',
       'PROBATION VIOLATION', 'HARASSMENT BY ELECTRONIC MEANS',
       'PAROLE VIOLATION', 'FALSE/STOLEN/ALTERED TRP',
       'OTHER VEHICLE OFFENSE', 'OTHER CRIME AGAINST PERSON',
       'SEX OFFENDER: FAIL REG NEW ADD', 'AGGRAVATED PO: OTHER DANG WEAP',
       'UNLAWFUL ENTRY', 'FORCIBLE ENTRY', 'AUTOMOBILE',
       'THEFT/RECOVERY: AUTOMOBILE', 'ATT: AUTOMOBILE',
       'TRUCK, BUS, MOTOR HOME', 'CREDIT CARD FRAUD',
       'THEFT OF LABOR/SERVICES', 'FORGERY', 'THEFT OF LOST/MISLAID PROP',
       'FRAUD OR CONFIDENCE GAME', 'THEFT BY LESSEE,MOTOR VEH',
       'BOGUS CHECK', 'FINANCIAL IDENTITY THEFT OVER $ 300',
       'ILLEGAL USE CASH CARD', 'ARMED: HANDGUN', 'STRONGARM - NO WEAPON',
       'VEHICULAR HIJACKING', 'ARMED:KNIFE/CUTTING INSTRUMENT',
       'AGGRAVATED', 'AGGRAVATED VEHICULAR HIJACKING',
       'TO STATE SUP LAND', 'TO RESIDENCE', 'TO LAND', 'CALL OPERATION',
       'SOLICIT ON PUBLIC WAY', 'SOLICIT FOR BUSINESS',
       'UNLAWFUL POSS OF HANDGUN', 'UNLAWFUL POSS OTHER FIREARM',
       'RECKLESS CONDUCT', 'BOMB THREAT',
       'AGG SEX ASSLT OF CHILD FAM MBR', 'SEX ASSLT OF CHILD BY FAM MBR',
       'CRIM SEX ABUSE BY FAM MEMBER', 'AGG CRIM SEX ABUSE FAM MEMBER',
       'ATTEMPT NON-AGGRAVATED', 'NON-AGGRAVATED',
       'AGG CRIMINAL SEXUAL ABUSE', 'OTHER',
       'RESIST/OBSTRUCT/DISARM OFFICER', 'ESCAPE', 'GAME/DICE',
       'SELL/GIVE/DEL LIQUOR TO MINOR', 'ILLEGAL CONSUMPTION BY MINOR',
       'BY FIRE', 'FIRST DEGREE MURDER', 'CHILD ABDUCTION/STRANGER',
       'INTIMIDATION', 'CYBERSTALKING', 'OBSCENE MATTER',
       'LICENSED PREMISE', 'LOST PASSPORT', 'INTOXICATING COMPOUNDS',
       'INVOLUNTARY SERVITUDE', 'FOID - REVOCATION',
       'AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY',
       'NOTIFICATION OF CIVIL NO CONTACT ORDER', 'DOMESTIC VIOLENCE'],
      dtype=object)

In [29]:
%%sql 
select  * from crime where DESCRIPTION = "CHILD ABDUCTION/STRANGER"

 * sqlite:///Chicago.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [31]:
dat_crime["LOCATION_DESCRIPTION"].unique()

array(['SMALL RETAIL STORE', 'OTHER', 'NURSING HOME/RETIREMENT HOME',
       'RESIDENCE', 'ALLEY', 'PARKING LOT/GARAGE(NON.RESID.)', 'STREET',
       'GROCERY FOOD STORE', 'DEPARTMENT STORE', 'BAR OR TAVERN',
       'RESIDENTIAL YARD (FRONT/BACK)', 'RESIDENCE PORCH/HALLWAY',
       'CTA PLATFORM', 'VACANT LOT/LAND', 'SIDEWALK', 'ATHLETIC CLUB',
       'AIRPORT/AIRCRAFT', 'APARTMENT', 'MOVIE HOUSE/THEATER',
       'VEHICLE NON-COMMERCIAL', 'RESTAURANT', 'RESIDENCE-GARAGE',
       'COMMERCIAL / BUSINESS OFFICE', 'TAVERN/LIQUOR STORE',
       'CONSTRUCTION SITE', 'GAS STATION', 'DRUG STORE', 'CTA BUS',
       'SCHOOL, PUBLIC, GROUNDS', 'SCHOOL, PUBLIC, BUILDING',
       'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
       'OTHER COMMERCIAL TRANSPORTATION', 'CHA APARTMENT', 'WAREHOUSE',
       'POLICE FACILITY/VEH PARKING LOT', 'HOSPITAL BUILDING/GROUNDS',
       'FACTORY/MANUFACTURING BUILDING', 'CLEANING STORE', 'CTA TRAIN',
       'BANK', 'CHA PARKING LOT/GROUNDS', 'LIBRARY',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'COLLEGE/UNIVERSITY GROUNDS',
       'SCHOOL, PRIVATE, BUILDING', 'CONVENIENCE STORE', 'HOUSE',
       'GOVERNMENT BUILDING/PROPERTY'], dtype=object)

In [36]:
%%sql
select * from crime limit 1 ; 
select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) from crime group by COMMUNITY_AREA_NUMBER

 * sqlite:///Chicago.db
Done.
Done.

[(None, 0),
 (1.0, 6),
 (2.0, 7),
 (3.0, 4),
 (4.0, 3),
 (5.0, 4),
 (6.0, 11),
 (7.0, 5),
 (8.0, 15),
 (10.0, 3),
 (11.0, 2),
 (12.0, 1),
 (14.0, 5),
 (15.0, 5),
 (16.0, 8),
 (17.0, 3),
 (18.0, 2),
 (19.0, 8),
 (20.0, 3),
 (21.0, 6),
 (22.0, 9),
 (23.0, 22),
 (24.0, 13),
 (25.0, 43),
 (26.0, 10),
 (27.0, 8),
 (28.0, 16),
 (29.0, 16),
 (30.0, 8),
 (31.0, 9),
 (32.0, 7),
 (33.0, 1),
 (35.0, 5),
 (37.0, 2),
 (38.0, 8),
 (39.0, 4),
 (41.0, 2),
 (42.0, 8),
 (43.0, 9),
 (44.0, 8),
 (45.0, 4),
 (46.0, 9),
 (47.0, 1),
 (48.0, 5),
 (49.0, 11),
 (50.0, 3),
 (51.0, 4),
 (52.0, 2),
 (53.0, 6),
 (54.0, 2),
 (55.0, 1),
 (56.0, 2),
 (58.0, 10),
 (59.0, 2),
 (60.0, 1),
 (61.0, 10),
 (62.0, 4),
 (63.0, 7),
 (64.0, 2),
 (65.0, 3),
 (66.0, 12),
 (67.0, 12),
 (68.0, 21),
 (69.0, 11),
 (70.0, 8),
 (71.0, 14),
 (72.0, 4),
 (73.0, 3),
 (75.0, 1),
 (76.0, 4),
 (77.0, 2)]